<h1>学習記録の詳細ページ</h1>

<ul>
  <li>名前：<%= @study_record.name %></li>
  <li>勉強内容：<%= @study_record.content %></li>
  <li>
    登録タグ：
    <% @study_record.tags.each do |tag| %>
      <%= tag.name %>
    <% end %>
  </li>
</ul>

<div><%= link_to '編集ページへ', edit_study_record_path(@study_record) %></div>