@use "vars" as *;

.header {
  background-color: $primary-color;
  &__nav {
    a {
      color: #fff;
      text-decoration: none;
    }
    &-list {
      display: flex;
      padding-left: 0;
    }
    &-item {
      a {
        color: $text-color-black;
      }
    }
  }
}
