@use "variables" as vars;

.study-record {
  &__desc-ttl {
    border-left: 5px solid vars.$primary-color;
    padding: 3px 10px;
  }
  span {
    padding: 3px;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.field_with_errors {
  display: contents;
}

.btn-close {
  position: absolute;
  right: 20px;
}
