body {
  background-color: #f9f9f9;
}

.alert {
  position: relative;
}

#error-explanation {
  padding: 10px;
  p {
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 0;
  }
}

h2 {
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}
